@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.icon{
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.icon {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.user_playlist{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}

.user_playlist ._list{
    cursor: pointer;
}

.user_playlist ._list .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #00000010;
    border-radius: .3rem;
    user-select: none;
}

.user_playlist ._list .card .icon{
    font-size: 5em !important;
    background-color: #00000010;
    border-radius: 5rem;
    padding: 1rem;
}

.user_playlist ._list .title{
    display: block;
    padding: .2rem 0;
}